
div {
  display: flexbox;
  text-align: center;
}

.descrição {
  text-decoration: underline;
  color: orangered;
}

.nomeCurso, h1{
  color: rgb(2, 165, 43);
  font-size: 60px;
  font-style: oblique;
}
